﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./assets/projectavatar.ico">
    <title>MPB - Ministria e Punëve të Brendshme</title>
    <style>
        .text-danger {
            color: red;
        }

        .corral {
            margin: 0 auto;
            width: 460px;
        }

        .contentContainer {
            position: relative;
            margin: 130px auto 0;
            padding: 30px 10% 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -khtml-border-radius: 5px;
            border-radius: 5px;
        }

        .textInput input, .textInput textarea {
            height: 44px;
            width: 100%;
            padding: 0 10px;
            border: 1px solid #9da3a6;
            background: #fff;
            text-overflow: ellipsis;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -khtml-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: #000;
            font-size: 1em;
            font-family: Helvetica,Arial,sans-serif;
            font-weight: 400;
            direction: ltr;
        }

        .textInput {
            position: relative;
            margin: 0 0 10px;
        }

            .textInput .fieldLabel {
                position: absolute;
                color: #6c7378;
                clip: rect(1px 1px 1px 1px);
                clip: rect(1px,1px,1px,1px);
                padding: 0;
                border: 0;
                height: 1px;
                width: 1px;
                overflow: hidden;
            }

        a.button:hover, a.button:link:hover, a.button:visited:hover, .button:hover {
            background-color: #005ea6;
            outline: 0;
        }

        a.button, a.button:link, a.button:visited, .button {
            width: 100%;
            height: 44px;
            padding: 0;
            border: 0;
            display: block;
            background-color: #0070ba;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -khtml-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            -webkit-tap-highlight-color: transparent;
            color: #fff;
            font-size: 1em;
            text-align: center;
            font-weight: 700;
            font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-shadow: none;
            text-decoration: none;
            -webkit-transition: background-color .4s ease-out;
            -moz-transition: background-color .4s ease-out;
            -o-transition: background-color .4s ease-out;
            transition: background-color .4s ease-out;
            -webkit-font-smoothing: antialiased;
        }

        .actionsSpaced {
            margin-top: 30px;
        }

        .headi {
            font-size: 1em;
            text-align: center;
            font-weight: 700;
            font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-shadow: none;
            text-decoration: none;
            color: #fff;
        }

        .fieldWrapper {
            position: relative;
            z-index: 2;
            width: 100%;
        }

        .forgotLink {
            margin: 20px auto;
            padding-bottom: 20px;
            border-bottom: 1px solid #cbd2d6;
            text-align: center;
        }

        a.button.secondary, a.button.secondary:link, a.button.secondary:visited, .button.secondary {
            background-color: #E1E7EB;
            color: #2C2E2F;
        }

        a.button, a.button:link, a.button:visited {
            padding-top: 11px;
        }

        a, a:link, a:visited {
            color: #0070ba;
            font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: 400;
            text-decoration: none;
            -webkit-transition: color .2s ease-out;
            -moz-transition: color .2s ease-out;
            -o-transition: color .2s ease-out;
            transition: color .2s ease-out;
        }
    </style>

</head>
<body style="background-image: url('./assets/istockphoto-959093486-612x612.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; ">
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
