﻿@model UserViewModel
@{
    ViewData["Title"] = "Kyçu";
}
<div id="main" class="main " role="main">
    <section id="login" class="login" data-role="page">
        <div class="corral">
            <div id="content" class="contentContainer">
                <header>
                    <div><center><img style="width:25%;margin-bottom: 8%;" src="./assets/111-02.png"></center></div>
                    <center>
                        <h3 class="headi">Qeveria e Kosovës</h3>

                        <h3 class="headi">Ministria e Punëve të Brendshme</h3>
                    </center>

                </header>
                <form asp-controller="User" asp-action="RegisterData" method="post" role="form" class="ng-untouched ng-pristine ng-invalid">
                    <div id="passwordSection" class="clearfix">
                        <div class="textInput" id="login_emaildiv">
                            <div class="fieldWrapper">
                                <label for="email" class="fieldLabel">Domain \ User Name</label>
                                <input id="email" asp-for="Email" type="email" class="hasHelp  validateEmpty " required="required" aria-required="true" placeholder="Shkruaj Emailin">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="textInput lastInputField" id="login_passworddiv">
                            <div class="fieldWrapper">
                                <label for="password" class="fieldLabel">Shkruaj Password-in</label>
                                <input id="password" asp-for="Password" type="password" class="hasHelp  validateEmpty " required="required" aria-required="true" placeholder="Shkruaj Fjalëkalimin">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="actions actionsSpaced">
                        <button class="button actionContinue" type="submit" id="btnLogin" name="btnLogin" value="Login">Kyçu</button>
                        <div class="forgotLink"></div><input type="hidden" id="bp_mid" name="bp_mid" value="">
                    </div>
                </form>
                @*<a href="#" class="button secondary" id="createAccount">Regjistrohu</a>*@
                <center><a>Të gjitha të drejtat e rezervuara!</a></center>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
